@import "~odometer/themes/odometer-theme-minimal.css";

.number-display {
  width: 100%;
  font-size: 6rem;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 600;
}
