.app {
  margin: 0 auto;
}

.app__header {
  height: 5rem;
  padding: 2rem;
  background-color: #333;
  border-bottom: .3rem solid #157ec6;
  color: #eee;
  text-align: center;
}

.app__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.app__number-display {

}
