@import "~bootstrap/dist/css/bootstrap.css";

.app-wrapper { /* also known as apper lol */
  background-color: #1abc9c;
  color: #ffffff;
  min-height: 100vh;
  padding-top: 20vh;
}

.btn {
  cursor: pointer;
}
